body > div {
    width: 100%;
    height: 100vh;
    background-image: url("../media/illustrations/badEnd.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

body > div > div {
    border: 3px solid var(--black);
    background-color: rgba(244, 244, 244, 0.9);
    text-align: center;
    padding: 10px;
    width: 85%;
    margin-bottom: 5%;
}

body > div > div > h2 {
    font-family: var(--barriecito);
}

body > div > div > p {
    font-family: var(--elite);
}