#dialogue>div:last-of-type {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#dialogueWrapper {
    width: 100vw;
    height: 100%;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
}

#characterImg {
    position: relative;
    width: 100%;
    bottom: 5%;
    /* left: -10%; */
    z-index: 0;
}

#characterName {
    border: 3px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    padding: 1vw 2vw;
    width: max-content;
    z-index: 3;
    position: absolute;
    top: -3vh;
    left: .5vh;
    font-family: var(--barriecito);
    font-size: 20px;
}

#dialogueBox {
    position: absolute;
    bottom: 80px;
    border: 3px solid var(--black);
    background-color: rgba(244, 244, 244, 0.9);
    width: 95%;
    height: 22%;
    z-index: 2;
    padding: 4vh 2vh 2vh 2vh;
    box-sizing: border-box;
}

#dialogueBox > p {
    /* margin: 8%; */
    font-family: var(--elite);
    font-size: 15px;
    line-height: 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#indicator {
    padding: 8px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    animation: indicatorBlink .7s infinite alternate linear;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.more {
    display: inline-block;
    border: solid var(--black);
    border-width: 0px 4px 4px 0px;
    transform: rotate(-45deg);
}

.done {
    display: inline-block;
    background-color: var(--black);
    bottom: 60px;
}

#overlayStandby {
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: var(--black);
    z-index: -2;

}
#overlayStandby img:nth-child(1) {
    position: absolute;
    width: 70%;
    top: 20%;
    left: 16%
}
#overlayStandby img:nth-child(2) {
    display: block;
    height: 100%;
    /* width: 100%; */
    opacity: .4;
    /* filter: saturate(3); */
}
#standbyInfo {
    font-family: var(--elite);
}
#overlayHistorik {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    z-index: 10;
    background-color:  rgba(135, 134, 137, 0.7);
}
#histInnerWrapper {
    box-sizing: border-box;
    position: absolute;
    top: 8%;
    left: 5vw;
    height: 80%;
    width: 90vw;
    z-index: 10;
    background-color: var(--white);
    border: 3px solid var(--black);
    font-family: var(--elite);
}


#loadingScreen {
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
}

.loadingText {
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingText p {
    font-family: 'Special Elite', sans-serif;
}

#spin {
    margin-bottom: 5vh;
    height: 20vw;
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.histTextfield {
    overflow-y: scroll;
    padding: 5% 10% 0% 10%;
    height: 90%;
    position: absolute;
    top: 20px;
}
.closeBtn {
    position: absolute;
    right: 0;
}
.closeBtn img {
    width: 25px;
    padding: 10px;
    box-sizing: content-box;
}
.textlayer {
    position: absolute;
    background-color: var(--white);
    text-align: center;
    top: 55%;
    width: 100%;
    padding: 2vh 2vh;
    opacity: .8;
    z-index: -2;
}

.histTextfield > p {
    border-bottom: 1px dashed var(--black);
    padding: 5px 0px;
}

.transp {
    opacity: .5;
}

@keyframes indicatorBlink {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#startBtn { 
    position: absolute;
    left: 1vh;
    top:1vh; 
    padding: .5vh 1vh;
    z-index: 100;
    background-color: var(--green);
    border: 3px solid var(--black);
}