#dialogue > div:last-of-type {
    height: 92vh;
    width: 100%;
    flex-direction: column;
}

#dialogueWrapper {
    width: 90%;
    height: 90%;
    background-image: url('images/bg.jpg');
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    flex-direction: column;
}

#characterImg {
    width: 87%;
    position: absolute;
    z-index: -1;
    top: 32%;
    right: 13%;
}

#characterName {
    /* border: 5px solid var(--white);
    background-color: var(--gray); */
    border: 3px solid #161616;
    background-color: var(--white);
    /* background-image: url(../../media/illustrations/border_test_name.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    color: #161616;
    padding: 2vw;
    width: max-content;
    z-index: 10;
    position: absolute;
    bottom: 25%;
    left: 10%;
    font-family: var(--barriecito);
    font-size: 20px;
}

#dialogueBox {
    /* border: 5px solid var(--black); */
    /* background-color: rgba(255, 255, 255, .8); */
    background-image: url(../../media/illustrations/border_test.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 98%;
    height: 30%;
}

#dialogueBox > p {
    margin: 13% 8%;
    font-family: var(--elite);
    font-size: 15px;
    line-height: 22px;
}

#indicator {
    padding: 8px;
    position: absolute;
    right: 45px;
}

.none {
    display: none;
}

.more {
    display: inline-block;
    border: solid var(--black);
    border-width: 0px 4px 4px 0px;
    transform: rotate(45deg);
    animation: arrowMovement .5s 0s infinite alternate;
}

.done {
    display: inline-block;
    background-color: var(--black);
    bottom: 60px;
    animation: doneBlink 1s infinite alternate linear;
}

@keyframes arrowMovement {
    0% {bottom: 75px;}
    100% {bottom: 60px;}
}

@keyframes doneBlink {
    0% {opacity: 1;}
    100% {opacity: 0;}
}