:root {
    /*? Sizes */
    --s-para: 16px;
    --s-heading: calc(var(--s-para) * 1.618);

    /*? Colors */
    --c-para: #131116;
    --c-btn-bg: #f4f4f4;
    --c-bg-main: #c2c2c2;
    --c-reg-bg: #131313;
    --c-reg-para: var(--c-bg-main);
    --c-login-bg: var(--c-bg-main);
    --c-login-para: var(--c-reg-bg);

    /*? Fonts */
    --barriecito: 'Barriecito', cursive;
    --elite: 'Special Elite', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: var(--s-para);
    color: var(--c-para);
    background-color: var(--c-bg-main);
}

#loginForm,
#registerform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--barriecito);
}

#login_wrapper,
#reg_wrapper {
    height: 90vh;
}

#login_wrapper {
    padding: 10%;
    background-color: var(--c-login-bg);
    color: var(--c-login-para);
}

#reg_wrapper {
    clip-path: polygon(0% 6%, 6% 0%, 12% 6%, 18% 0%, 24% 6%, 30% 0%, 36% 6%, 42% 0%, 48% 6%, 54% 0%, 60% 6%, 66% 0%, 72% 6%, 78% 0%, 84% 6%, 90% 0%, 96% 6%, 100% 0%, 100% 100%, 0% 100%);
    padding: 10%;
    background-color: var(--c-reg-bg);
    color: var(--c-reg-para);
}

#loginForm input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    font-family: var(--elite);
    font-size: 20px;
    outline-style: none;
    margin-bottom: 20px;
}

#loginForm button {
    width: 100%;
    height: 50px;
    border: 2px solid var(--c-reg-bg);
    background-color: var(--c-btn-bg);
    font-family: var(--elite);
    font-size: 20px;
    font-weight: bold;
    margin-top: 2vh;
}

#loginForm h1 {
    text-align: center;
    margin-bottom: 2vh;
}

#login_wrapper form input {
    border-bottom: 2px solid var(--c-reg-bg);
}

#login_wrapper form button:active {
    border: 2px solid var(--c-reg-bg);
}

.logoWrapper {
    width: 100%;
    padding: 8% 15%;
}
.feedback {
    color: red;
    text-align: center;
}

.complete {
    color: green;
    text-align: center;
}