#invWrapper {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 2vh;
    background-color: var(--gray);
}

#invImgSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    width: 100%;
    /* background-color: var(--lightgray); */
    margin: 3vh 0;
}
#invImgSection img {
    width: 70%;
    overflow: none;
}

#invSection {
    display: grid;
    height: 200px;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(2, 70px);
    place-content: center;
    gap: 1vh;
    background-color: var(--lightgray);
    margin-top: 20vh;
    margin-bottom: 4vh;
    box-sizing: border-box;
}

#invSection div, #invSection a {
    border: 2px solid var(--darkgray);
    display: flex;
    justify-content: center;
    align-items: center;
}


#invSection div:nth-child(1) {
    border: 2px solid var(--darkgray);
    /* background-image: url(../../media/illustrations/malmu_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

#invSection > div > img, #invSection > a > img {
    width: 90%;
}

#gemSection {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(2, 70px);
    place-content: center;
    gap: 1vh;
}

#gemSection > div {
    background-color: var(--darkgray);
    border-radius: 50%;
}

#gemSection > div > img{
    width: 100%;
}

#gemSection div:nth-child(4) {
    position: relative;
    left: 50%;
}

#gemSection div:nth-child(5) {
    position: relative;
    left: 50%;
}