* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

:root {
    /* fonts */
    --barriecito: 'Barriecito', cursive;
    --elite: 'Special Elite', cursive;

    /* prim. colors */
    --black: #131116;
    --gray: #878689;
    --white: #F4F4F4;

    /* acc. colors */
    --blue: #8ED4EA;
    --pink: #F291BA;
    --orange: #E38664;
    --yellow: #E7C55F;
    --green: #5FBC7C;
    --purple: #9582BD;
    --red: #C46B80;

    /* Extra colors */
    --lightgray: #a1a0a0;
    --darkgray: #636363;
    --warningRed: #dd3f3f; 

}


#wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* position: fixed; */
    scroll-behavior: smooth;
}

#slider {
    width: 300%;
    height: 200%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#map {
    grid-area: 1/1/2/2;
    background-color: var(--gray);
    position: sticky;
}

#dialogue {
    grid-area: 1/2/2/3;
    background-color: var(--gray);
    position: sticky;
}

#interactive {
    grid-area: 1/3/2/4;
    background-color: var(--gray);
    position: sticky;
}

#inventory {
    background-color: var(--gray);
    grid-area: 2/2/3/3;
    position: sticky;
}

.menuBG {
    height: 8vh;
    width: 100%;
    background-color: darkgrey;
    border-bottom: 5px solid rgb(100, 100, 100);
}
#mainBtnNav {
    height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#mainBtnNav button {
    width: 34vw;
    height: 15vh;
    background-color: var(--white);
    font-family: var(--elite);
    font-size: 15px;
    color: var(--black);
    border: 3px solid var(--black);
}
#mainBtnNav button:first-of-type {
    border-right: none;
}
#mainBtnNav button:last-of-type {
    border-left: none;
}
#mainBtnNav p {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30vw;
    height: 15vh;
    font-size: 50px;
    font-family: var(--barriecito);
    color: var(--black);
    border: 3px solid var(--black);
    background-color: rgba(20, 18, 23, 0.8);
}

.viewLink {
    text-decoration: none;
    padding: 10px;
    margin: 0vh .2vh;
    color: var(--black);
    font-family: var(--elite);
    box-sizing: border-box;
    z-index: 3;
}
.icon {
    width: 50%;
}

.iconBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 244, 244, 0.9);
    border: 3px solid var(--black);
}
.iconBtn:first-of-type {
    margin-left: 1.3vh;
}
.iconBtn:last-of-type {
    margin-right: 1.3vh;
}

.backBtn {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--elite);
    border: 1px solid var(--black);

}
.viewLink:active {
    background-color: var(--gray);
}

.logoutBtn {
    position: absolute;
    bottom: unset;
    top: 1vh;
    right: 1vh;
    background-color: var(--warningRed);
    font-size: 12px;
    padding: 8px 10px;
}

#dialogue>a:nth-of-type(2) {
    left: 20.4%;
}

#dialogue>a:nth-of-type(3) {
    right: 30.2%;
    padding: 10px 9.5px;
}

#gameHolder {
    width: 100%;
    height: 100vh;
    align-items: baseline;
}

.right {
    position: absolute;
    right: 1vh;
    bottom: 1vh;
}

.left {
    position: absolute;
    left: 1vh;
    bottom: 1vh;
}

.middle {
    position: absolute;
    width: 30vw;
    left: 0;
    right: 0;
    bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flexer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.none {
    display: none;
}

h2 {
    font-family: var(--barriecito);
}


.important {
    animation: importantAnim .5s infinite alternate;
}

@keyframes importantAnim {
    0% {
        box-shadow: 0px 0px;
        background-color: var(--gray);
    }

    100% {
        box-shadow: var(--white) 0px 0px 25px;
        background-color: var(--white);
    }
}