* {
    padding: 0px;
    margin: 0px;
}

:root {
    /* fonts */
    --barriecito: 'Barriecito', cursive;
    --elite: 'Special Elite', cursive;

    /* prim. colors */
    --black: #131116;
    --gray: #878689;
    --white: #F4F4F4;

    /* acc. colors */
    --blue: #8ED4EA;
    --pink: #F291BA;
    --orange: #E38664;
    --yellow: #E7C55F;
    --green: #5FBC7C;
    --purple: #9582BD;
    --red: #C46B80;

    /* Extra colors */
    --lightgray: #a1a0a0;
    --darkgray: #636363;

}

#wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

#slider {
    width: 300%;
    height: 200%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#map {
    grid-area: 1/1/2/2;
    background-color: var(--gray);
    position: sticky;
}

#dialogue {
    grid-area: 1/2/2/3;
    background-color: var(--gray);
    position: sticky;
}

#interactive {
    grid-area: 1/3/2/4;
    background-color: var(--gray);
    position: sticky;
}

#inventory {
    background-color: var(--gray);
    grid-area: 2/2/3/3;
    position: sticky;
}

.menuBG {
    height: 8vh;
    width: 100%;
    background-color: darkgrey;
    border-bottom: 5px solid rgb(100, 100, 100);
}

.viewLink {
    position: absolute;
    bottom: 1vh;
    text-decoration: none;
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    font-family: var(--elite);
    border: 1px solid var(--black);
    box-sizing: border-box;
}

.viewLink:active {
    background-color: var(--gray);
}

.logoutBtn {
    bottom: unset;
    top: 1vh;
    right: 1vh;
    background-color: var(--red);
}

#dialogue>a:nth-of-type(2) {
    left: 20.4%;
}

#dialogue>a:nth-of-type(3) {
    right: 30.2%;
    padding: 10px 9.5px;
}

.right {
    right: 1vh;
}

.left {
    left: 1vh;
}

.middle {
    width: max-content;
    left: 0;
    right: 0;
    bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flexer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

h2 {
    font-family: var(--barriecito);
}

.important {
    animation: importantAnim 1s infinite alternate;
}

@keyframes importantAnim {
    0% {
        box-shadow: 0px 0px;
        background-color: var(--gray);
    }

    100% {
        box-shadow: var(--white) 0px 0px 25px;
        background-color: var(--white);
    }
}