#mapHolder {
    overflow: scroll;
    height: 70vh;
}

svg {
    height: 91vh;
    width: 300%;
}

.markedSpot {
    fill: red;
}

#summaryNotif {
    font-family: var(--elite);
    background-color: hotpink;
    height: 200px;
    width: 200px;
    transform: translateY(150px);
}

.notifAnimationIn {
    animation: notifSlideIn .5s ease-out forwards;
}

.notifAnimationOut {
    animation: notifSlideOut .5s ease-in forwards;
}

@keyframes notifSlideIn {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes notifSlideOut {
    
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(150px);
        opacity: 0;
    }
}